[
  {
    "id": 51008,
    "name": "Gonta",
    "surname": "Ion",
    "role":"Manager",
    "phone":"+3735689202",
    "email":"ion.gonta@gmail.com",
    "subsidaryID": 100,
    "address": "Straseni,str. Stefan cel Mare 2"
  },
  {
    "id": 51009,
    "name": "Radu",
    "surname": "Galina",
    "role":"Seller",
    "phone":"+37369653214",
    "email":"galina.radu@gmail.com",
    "subsidaryID": 101,
    "address": "Chisinau,str.Florilor 21"
  },
  {
    "id": 51010,
    "name": "Calmis",
    "surname": "Mihai",
    "role":"Administrator",
    "phone":"+3736023333",
    "email":"mihai.calmis@gmail.com",
    "subsidaryID": 100,
    "address": "Durlesti, str. Teilor 8"
  }
]