[
  {
    "id": 100,
    "name": "Walles Corporation SRL",
    "location": "Chisinau , str.Ioan Cuza 78",
    "phone": "023722520"
  },
  {
    "id": 101,
    "name": "AutoMall SRL",
    "location": "Chisinau , str.Mihai Viteazu 8",
    "phone": "023722987"
  }
]